header{
    position:fixed;
    top:0px;
    width:100%;
    height:10px;
    padding:25px 0px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:black;
    opacity:0.9;
  }
  
  @Media (max-width:500%){
    body{
      flex-wrap:wrap;
    }
  }
  @import url('https://fonts.googleapis.com/css2?family=Besley:ital@1&display=swap');
  
  body{
    font-family:'Besley';
    color:white;
    background-color:black;
    line-height:1.4;
    width:100%;
  }
  .stretch{
    width:100%;
    height:100%;
  }
  h1{
    font-size:1.4rem;
    color:white;
  }
  h2{
    font-size:1.4rem;
    color:white;
  }
  a{
    color:white;
    text-decoration:none;
  }
  a:hover{
    text-decoration:underline;
  }
  #Shop{
    margin-left:13%;
    margin-top:-30%;
    display:flex;
    justify-content:space-between;
    width:75%;
  }
  #Portfolio{
    margin-left:27%;
    margin-top:40%;
    display:flex;
    justify-content:space-between;
    width:50%;
  }
  
  #MyStory{
    margin-left:0;
    margin-top:20%;
    display:flex;
    justify-content:space-between;
    width:100%;
  }
  #storylayover{
    background-color:black;
    width:100%;
    opacity:0.9;
  }
  #background{
    width:100%;
    height:100%;
    position:fixed;
    left:0px;
    top:0px;
    z-index:-1;
    
  }
  .submit{
    width:20%;
    padding:0.75rem;
    background:royalblue;
    color:white;
    border-radius:2px;
    cursor:pointer;
  }
  .email{
    display:block;
    width:18.5%;
    height:2rem;
    padding:0.25rem 0.75rem;
    background-color:#fff;
    border:1px solid black;
    border-radius:0.25rem;
  }
  .text{
    display:block;
    width:18.5%;
    height:2rem;
    padding:0.25rem 0.75rem;
    background-color:#fff;
    border:1px solid black;
    border-radius:0.25rem;
  }